<footer class="footer mt-auto py-3 ">
  <div class="row">
    <div class="col-md-4">
      <h5>About Us</h5>
      <p>
        Egyptian National Railways is considered to be the first railway lines
        established in Africa and the Middle East, and the second in the world
        after the United Kingdom, where construction began in 1834, when the
        railway tracks were actually extended to Suez-Alexandria line.
      </p>
    </div>
    <div class="col-md-4">
      <h5>Contact Information</h5>
      <p>
        Address: Cairo, Ramsis Square, Al Fagalah, Al Azbakeya<br />
        Phone: 0225753555<br />
        Email: TKTSupport.web@enr.gov.eg
      </p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a
            href="https://www.facebook.com/presidency.affairs.ENR"
            target="_blank"
            rel="noopener"
            >Facebook</a
          >
        </li>
        <li class="list-inline-item">
          <a
            href="https://www.facebook.com/presidency.affairs.ENR"
            target="_blank"
            rel="noopener"
            >Twitter</a
          >
        </li>
        <li class="list-inline-item">
          <a
            href="https://www.facebook.com/presidency.affairs.ENR"
            target="_blank"
            rel="noopener"
            >Instagram</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5>Service Information</h5>
      <ul class="list-unstyled">
        <li class="list-inline-item"><a routerLink="/tickets">Schedules</a></li>
        <li class="list-inline-item"><a routerLink="/tickets">Fares</a></li>
        <li class="list-inline-item"><a routerLink="/about">About Us</a></li>
      </ul>
    </div>
  </div>
</footer>
