<div class="row">
  <div class="col-md-6">
    <h1>About us</h1>
    <p>
      The Egyptian railways are the first railway lines established in Africa
      and the Middle East, and the second in the world after the United Kingdom,
      where construction began in 1834, when the rails of the railway lines were
      actually extended at the time by the Suez / Alexandria line. However, the
      work soon stopped due to some political issues, then the idea was revived
      in 1851 in the fifties of the nineteenth century, to extend across the
      governorates of Egypt from north to south and from east to west.
    </p>
    <p>
      The first railway line was extended in Egypt between Cairo / Alexandria.
      It was built by an English company during the reign of Khedive Abbas I,
      who took over the rule of Egypt in the year 1848 AD and lasted for six
      years until 1854 AD. The aim of extending railway lines in Egypt was to
      facilitate and speed up the transport of mail and travelers between
      Europe, especially England, and between India in England's largest
      colonies in the East.
    </p>
    <p>
      Communications between Europe and India passed through Egypt, as ships
      come from Europe to the port of Alexandria, and then are transported by
      land. To Cairo, and from there to the port of Suez, to travel by sea in
      the Red Sea and then the Indian Ocean to reach India, where the English
      company hired Robert Stephenson, the son of the inventor of the steam
      train, to set up this project, which is the first of its kind in the Arab
      East, where Khedive Abbas I signed a contract With Robert Stephenson, at a
      value of 56,000 English pounds, to construct a railway linking the
      Egyptian capital and Alexandria with a length of 209 kilometers.
    </p>
  </div>
  <div class="col-md-6">
    <img src="assets/images/logo-grey.svg" alt="" />
  </div>
</div>
