.row {
  padding: 10px;
  width: 100%;
  margin: 0;
}

.col-md-6 img {
  width: 100%;
  height: 80vh;
}

.col-md-6 h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #267461;
}

.col-md-6 p {
 text-align: justify;
}
