<div class="row">
    <div class="col-md-6">
        <h1>
            About us
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, adipisci, alias, asperiores atque autem
            beatae commodi consequatur cumque cupiditate delectus deleniti dolorum ea eaque eius enim eos est et ex
            exercitationem expedita explicabo facilis fuga fugiat hic id illum impedit in incidunt inventore ipsa ipsum
            iure iusto laboriosam laborum laudantium libero magnam maiores maxime minima minus molestiae mollitia nam
            necessitatibus nemo neque nesciunt nisi nobis non nostrum numquam obcaecati officia officiis omnis optio
            pariatur perspiciatis placeat porro praesentium provident quae quaerat quam qui quia quibusdam quis quisquam
            quo quod quos recusandae rem repellat repudiandae rerum saepe sapiente sed sequi similique sit soluta sunt
            suscipit tempora tempore tenetur totam ullam unde ut velit veniam veritatis vero voluptas voluptatem
            voluptates voluptatibus voluptatum. Accusamus, adipisci, alias, asperiores atque autem beatae commodi consequatur
            cumque cupiditate delectus deleniti dolorum ea eaque eius enim eos est et ex exercitationem expedita explicabo
            facilis fuga fugiat hic id illum impedit in incidunt inventore ipsa ipsum iure iusto laboriosam laborum
            laudantium libero magnam maiores maxime minima minus molestiae mollitia nam necessitatibus nemo neque nesciunt
            nisi nobis non nostrum numquam obcaecati officia officiis omnis optio pariatur perspiciatis placeat porro
            praesentium provident quae quaerat quam qui quia quibusdam quis quisquam quo quod quos recusandae rem repellat
            repudiandae rerum saepe sapiente sed sequi similique sit soluta sunt suscipit tempora tempore tenetur totam
            ullam unde ut velit veniam veritatis vero voluptas voluptatem voluptates voluptatibus voluptatum. Accusamus,
            adipisci, alias,
        </p>
    </div>
    <div class="col-md-6">
        <img src="assets/images/logo-grey.svg" alt="">
    </div>
</div>
