nav{
    margin: 0;
    padding: 0 10px 10px 15px;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
    margin-bottom: 10px;
}
button{
    margin-right: 10px;
}

.nav-item{
    font-size: 1.2em;    
}

#tickets{
    background-color: #267461;
    padding: 0 10px 0 10px;
    font-weight: bold;
    width: fit-content;
    font-size: 1.2em;
    border-radius: 25px;
}

#tickets a{
    color: white;
}

#tickets:hover{
    background-color: #1e5c4b;
    cursor: pointer;
}