<div class="row">
  <div class="col-md-6">
    <h1>Contact us</h1>
    <div class="row">
      <div class="col-md-6">
        <h4>Customer Service</h4>
        <ul>
          <li>Landline: 0225753555</li>
          <li>Phone: 01274422925</li>
          <li>Hot line: 15047</li>
        </ul>
        <h4>Inquiries and complaints</h4>
        <ul>
          <li>Phone: 01220008806</li>
          <li>Phone: 01220008807</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Technical Support</h4>
        <ul>
          <li>Email: TKTSupport.web@enr.gov.eg</li>
        </ul>
        <h4>Social Media</h4>
        <ul>
          <li>
            Facebook:
            <a href="https://www.facebook.com/presidency.affairs.ENR"
              >Egyptian Railways</a
            >
          </li>
          <li>
            Twitter:
            <a href="https://twitter.com/egyptianrailway">Egyptian Railways</a>
          </li>
          <li>
            Instagram:
            <a href="https://www.instagram.com/egyptianrailways/"
              >Egyptian Railways</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="assets/images/logo-grey.svg" alt="" />
  </div>
</div>
