<div class="row">
    <div class="col-md-6">
        <h1>Contact us</h1>
        <h3>Customer Service</h3>
        <ul>
            <li>Phone: 0123456789</li>
            <li>Email: </li>
            <li>Address: </li>
        </ul>
        <h3>Technical Support</h3>
        <ul>
            <li>Phone: 0123456789</li>
            <li>Email: </li>
            <li>Address: </li>
        </ul>
        
    </div>
    <div class="col-md-6">
        <img src="assets/images/logo-grey.svg" alt="" />
    </div>
</div>