@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Bold.ttf");
  src: url("assets/fonts/Poppins-Light.ttf");
  src: url("assets/fonts/Poppins-Medium.ttf");
  src: url("assets/fonts/Poppins-Regular.ttf");
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
}

* ::selection {
  background-color: #267461;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00c090;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00e2aa;
}
