<div class="row">
  <div class="col-md-2">
    <h1>Quick Links</h1>
    <ul>
      <li>
        <a
          href="https://www.enr.gov.eg/ar/News.aspx"
          target="_blank"
          rel="noopener"
        >
          <div>News</div>
        </a>
      </li>
      <li>
        <a
          href="https://www.enr.gov.eg/ar/ENR.aspx?ID=2"
          target="_blank"
          rel="noopener"
        >
          <div>History</div>
        </a>
      </li>
      <li>
        <a
          href="https://play.google.com/store/apps/details?id=enr.transit.maf&hl=en&gl=US"
          target="_blank"
          rel="noopener"
        >
          <div>Mobile App</div>
        </a>
      </li>
      <li>
        <a
          href="https://www.enr.gov.eg/ar/Station.aspx"
          target="_blank"
          rel="noopener"
        >
          <div>Stations</div>
        </a>
      </li>
      <li>
        <a
          href="https://www.enr.gov.eg/ar/ENR.aspx?ID=7"
          target="_blank"
          rel="noopener"
        >
          <div>Cargo Shipping</div>
        </a>
      </li>
      <li>
        <a
          href="https://www.enr.gov.eg/ar/FAQ.aspx"
          target="_blank"
          rel="noopener"
        >
          <div>FAQs</div>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-8">
    <h1>Our Services</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/express.png" alt="" />
          <h3 class="card-title">Express Trains</h3>
          <p class="card-body">
            Egypt's express trains offer swift and suitable for everday commute
            travel, boasting modern amenities and comfortable seating for
            passengers at affordable prices.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/vip.png" alt="" />
          <h3 class="card-title">VIP Trains</h3>
          <p class="card-body">
            Egypt's VIP trains offer luxurious travel, with spacious seating,
            and personalized service. These trains provide a premium travel
            experience with top-notch amenities.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="assets/images/talgo.png" alt="" />
          <h3 class="card-title">Talgo Trains</h3>
          <p class="card-body">
            Talgo trains in Egypt are both the fastest and most comfortable
            trains available.They allow high-speed travel without causing
            discomfort to passengers.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <h1>Recent News</h1>
    <ul>
      <li>
        <a
          href="https://www.enr.gov.eg/ar/NewsDetails.aspx?NewsID=1676"
          target="_blank"
          rel="noopener"
        >
          <div class="card">
            <img
              class="card-img-top"
              src="https://www.enr.gov.eg/Images/News/30032023115335326397456_5749121075204352_7409201987346533422_n.jpg"
              alt=""
            />
            <h5 class="card-body">
              The Telgo train operates daily on the Cairo-Aswan line
            </h5>
          </div>
        </a>
      </li>
      <li>
        <a
          href="https://www.enr.gov.eg/ar/NewsDetails.aspx?NewsID=1680"
          target="_blank"
          rel="noopener"
        >
          <div class="card">
            <img
              class="card-img-top"
              src="https://www.enr.gov.eg/Images/News/11042023040430340842662_1255144908434683_926050358466060954_n.jpg"
              alt=""
            />
            <h5 class="card-body">
              Re-operation of the first fully rehabilitated Spanish train
            </h5>
          </div>
        </a>
      </li>
      <!-- <li>
        <a href="https://www.enr.gov.eg/ar/NewsDetails.aspx?NewsID=1678">
          <div class="card">
            <img
              class="card-img-top"
              src="https://www.enr.gov.eg/Images/News/04042023110342%D9%83%D9%83.jpg"
              alt=""
            />
            <h5 class="card-body">
              The Minister of Transport hvaing breakfast with a number of
              workers
            </h5>
          </div>
        </a>
      </li>
      <li>
        <a href="https://www.enr.gov.eg/ar/NewsDetails.aspx?NewsID=1671">
          <div class="card">
            <img
              class="card-img-top"
              src="https://www.enr.gov.eg/Images/News/30032023104223337400876_174757468738111_7365216223453115833_n%20(1).jpg"
              alt=""
            />
            <h5 class="card-body">
              A cooperation protocol between ENR and the Spanish company Talgo
            </h5>
          </div>
        </a>
      </li> -->
    </ul>
  </div>
</div>
